:root {
    --bg-dark: #09090B;
    --text-primary: #FAFAFA;
    --text-secondary: #A1A1AA;
    --text-dark: #18181B;
    --border-color: rgba(255, 255, 255, 0.1);
    --input-bg: rgba(250, 250, 250, 0.05);
    --card-bg: rgba(250, 250, 250, 0.02);
    --accent-glow: #FB923C;
}