.Footer-container {
    position: relative;
}

.Footer-container>hr {
    border-radius: 1px solid var(--lightgray);
}

.footer {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    height: 20rem;
}

.social-links {
    display: flex;
    gap: 4rem;
}

.social-links img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.social-links img:hover {
    transform: scale(1.2);
}

.logo-f>img {
    width: 14rem;
}

.blur-f-1 {
    bottom: 0;
    right: 15%;
    width: 26rem;
    height: 10rem;
    filter: blur(200px);
    background-color: red;
}

.blur-f-2 {
    bottom: 0;
    left: 25%;
    width: 26rem;
    height: 10rem;
    filter: blur(200px);
    background-color: orange;
}